<div class="container">
<% if current_user %>
  <%= form_for @movie do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :note %>
    <%= f.text_field :note %>
    <%= f.submit %>
  <% end %>
</br>

<button type='button' class='search-watched btn btn-success'>Search for all watched movies</button></br>
</br>
<button type='button' class='search-unwatched btn btn-danger'>Search for all unwatched movies</button></br>
</br>
<input type="text" id="movie-search" placeholder="Search for movies..." /></br>
</br>
<button type='button' class='search-alpha btn btn-info'>Sort movies alpha</button></br>
</br>

<table class="movie-table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>Title</th>
      <th>Note</th>
      <th>Watched?</th>
      <th>Edit</th>
      <th>Mark Watched Status</th>
    </tr>
  </thead>
  <% end %>
  <tbody id='movie-list'>
    <% if @movies %>
      <% @movies.each do |movie| %>
        <tr id='<%= movie.id %>' class='<%= movie.watched %>' ><td class='movie-title'><%= movie.title %></td>
        <td class='movie-note'><%= movie.note %></td>
        <td id=<%= "watched-#{movie.id}" %>><%= movie.watched %></td>
        <td><%= link_to "Edit", edit_movie_path(movie) %></td>
        <% if movie.watched == false %>
          <td><button type="button" class="mark-watched btn btn-warning" id=<%= "#{movie.id}" %>>Mark as watched</button></td></tr>
        <% else %>
          <td><button type="button" class="mark-unwatched btn btn-primary" id=<%= "#{movie.id}" %>>Mark as unwatched</button></td></tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
