<% if current_user %>
  <%= form_for @movie do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :note %>
    <%= f.text_field :note %>
    <%= f.submit %>
  <% end %>
<% end %>

<button type='button' class='search-watched'>Search for all watched movies</button></br>
<button type='button' class='search-unwatched'>Search for all unwatched movies</button>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Note</th>
      <th>Watched?</th>
      <th>Edit</th>
      <th>Mark Watched Status</th>
    </tr>
  </thead>
  <tbody id='movie-list'>
    <% if @movies %>
      <% @movies.each do |movie| %>
        <tr class=<%= color_output(movie.watched) %>><td><%= movie.title %></td>
        <td><%= movie.note %></td>
        <td id=<%= "watched-#{movie.id}" %>><%= movie.watched %></td>
        <td><%= link_to "Edit", edit_movie_path(movie) %></td>
        <% if movie.watched == false %>
          <td><button type="button" class="mark-watched" id=<%= "#{movie.id}" %>>Mark as Watched</button></td></tr>
        <% else %>
          <td><button type="button" class="mark-watched" id=<%= "#{movie.id}" %>>Mark as Unwatched</button></td></tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
